.DS_Store
lac2017_severalinstitutions.tex
lac2017.pdf
*.aux
*.log
*.bbl
*.blg
tests/test

utilities/mesh2faust/vega/libraries/include/SPOOLESSolver.h
utilities/mesh2faust/vega/libraries/include/ARPACKSolver.h
utilities/mesh2faust/vega/libraries/include/CGSolver.h
utilities/mesh2faust/vega/libraries/include/PardisoSolver.h
utilities/mesh2faust/vega/libraries/include/SPOOLESSolver.h	
utilities/mesh2faust/vega/libraries/include/SPOOLESSolverMT.h
utilities/mesh2faust/vega/libraries/include/StVKCubeABCD.h
utilities/mesh2faust/vega/libraries/include/StVKElementABCD.h
utilities/mesh2faust/vega/libraries/include/StVKElementABCDLoader.h
utilities/mesh2faust/vega/libraries/include/StVKHessianTensor.h
utilities/mesh2faust/vega/libraries/include/StVKInternalForces.h
utilities/mesh2faust/vega/libraries/include/StVKInternalForcesMT.h
utilities/mesh2faust/vega/libraries/include/StVKStiffnessMatrix.h
utilities/mesh2faust/vega/libraries/include/StVKStiffnessMatrixMT.h
utilities/mesh2faust/vega/libraries/include/StVKTetABCD.h
utilities/mesh2faust/vega/libraries/include/StVKTetHighMemoryABCD.h
utilities/mesh2faust/vega/libraries/include/ZTAZMultiplicator.h
utilities/mesh2faust/vega/libraries/include/boundingBox.h
utilities/mesh2faust/vega/libraries/include/closestPointField.h
utilities/mesh2faust/vega/libraries/include/computeStiffnessMatrixNullspace.h
utilities/mesh2faust/vega/libraries/include/configFile.h
utilities/mesh2faust/vega/libraries/include/cubicMesh.h
utilities/mesh2faust/vega/libraries/include/delaunayMesher.h
utilities/mesh2faust/vega/libraries/include/distanceField.h
utilities/mesh2faust/vega/libraries/include/distanceFieldBase.h
utilities/mesh2faust/vega/libraries/include/distanceFieldCreator.h
utilities/mesh2faust/vega/libraries/include/distanceFieldMT.h
utilities/mesh2faust/vega/libraries/include/distanceFieldNarrowBand.h
utilities/mesh2faust/vega/libraries/include/eig3.h
utilities/mesh2faust/vega/libraries/include/expokit_xgpadm.h
utilities/mesh2faust/vega/libraries/include/generateGradientMatrix.h
utilities/mesh2faust/vega/libraries/include/generateInterpolationMatrix.h
utilities/mesh2faust/vega/libraries/include/generateMassMatrix.h
utilities/mesh2faust/vega/libraries/include/generateMeshGraph.h
utilities/mesh2faust/vega/libraries/include/generateSurfaceMesh.h
utilities/mesh2faust/vega/libraries/include/generateTetMeshFromCubicMesh.h
utilities/mesh2faust/vega/libraries/include/graph.h
utilities/mesh2faust/vega/libraries/include/hashTable.h
utilities/mesh2faust/vega/libraries/include/imageFormats.h
utilities/mesh2faust/vega/libraries/include/imageIO.h
utilities/mesh2faust/vega/libraries/include/integer.h
utilities/mesh2faust/vega/libraries/include/interpolationWeightsMultiLoad.h
utilities/mesh2faust/vega/libraries/include/invMKSolver.h
utilities/mesh2faust/vega/libraries/include/invZTAZMSolver.h
utilities/mesh2faust/vega/libraries/include/invZTAZSolver.h
utilities/mesh2faust/vega/libraries/include/isosurfaceMesher.h
utilities/mesh2faust/vega/libraries/include/linearSolver.h
utilities/mesh2faust/vega/libraries/include/marchingCubes.h
utilities/mesh2faust/vega/libraries/include/marchingCubesTable.h
utilities/mesh2faust/vega/libraries/include/mat3d.h
utilities/mesh2faust/vega/libraries/include/matrix.h
utilities/mesh2faust/vega/libraries/include/matrixBLAS.h
utilities/mesh2faust/vega/libraries/include/matrixExp.h
utilities/mesh2faust/vega/libraries/include/matrixIO.h
utilities/mesh2faust/vega/libraries/include/matrixLAPACK.h
utilities/mesh2faust/vega/libraries/include/matrixMacros.h
utilities/mesh2faust/vega/libraries/include/matrixPCA.h
utilities/mesh2faust/vega/libraries/include/matrixProjection.h
utilities/mesh2faust/vega/libraries/include/minivector.h
utilities/mesh2faust/vega/libraries/include/multiMatrixIO.h
utilities/mesh2faust/vega/libraries/include/objMesh-disjointSet.h
utilities/mesh2faust/vega/libraries/include/objMesh.h
utilities/mesh2faust/vega/libraries/include/objMeshBinaryLoader.h
utilities/mesh2faust/vega/libraries/include/objMeshClose.h
utilities/mesh2faust/vega/libraries/include/objMeshEncode.h
utilities/mesh2faust/vega/libraries/include/objMeshGraph.h
utilities/mesh2faust/vega/libraries/include/objMeshOctree.h
utilities/mesh2faust/vega/libraries/include/objMeshOffsetVoxels.h
utilities/mesh2faust/vega/libraries/include/objMeshOrientable.h
utilities/mesh2faust/vega/libraries/include/objMeshRender.h
utilities/mesh2faust/vega/libraries/include/octree.h
utilities/mesh2faust/vega/libraries/include/performanceCounter.h
utilities/mesh2faust/vega/libraries/include/query.h
utilities/mesh2faust/vega/libraries/include/rVector.h
utilities/mesh2faust/vega/libraries/include/rational.h
utilities/mesh2faust/vega/libraries/include/signedDistanceFieldFromPolygonSoup.h
utilities/mesh2faust/vega/libraries/include/simpleSphere.h
utilities/mesh2faust/vega/libraries/include/sparseMatrix.h
utilities/mesh2faust/vega/libraries/include/sparseMatrixMT.h
utilities/mesh2faust/vega/libraries/include/sparseSolverAvailability.h
utilities/mesh2faust/vega/libraries/include/sparseSolvers.h
utilities/mesh2faust/vega/libraries/include/tetKey.h
utilities/mesh2faust/vega/libraries/include/tetMesh.h
utilities/mesh2faust/vega/libraries/include/tetMesher.h
utilities/mesh2faust/vega/libraries/include/triKey.h
utilities/mesh2faust/vega/libraries/include/triangle.h
utilities/mesh2faust/vega/libraries/include/triangleTetIntersection.h
utilities/mesh2faust/vega/libraries/include/tribox3.h
utilities/mesh2faust/vega/libraries/include/trilinearInterpolation.h
utilities/mesh2faust/vega/libraries/include/vec2d.h
utilities/mesh2faust/vega/libraries/include/vec3.h
utilities/mesh2faust/vega/libraries/include/vec3d.h
utilities/mesh2faust/vega/libraries/include/verticesQuery.h
utilities/mesh2faust/vega/libraries/include/verticesQueryFiltered.h
utilities/mesh2faust/vega/libraries/include/verticesQueryRational.h
utilities/mesh2faust/vega/libraries/include/volumetricMesh.h
utilities/mesh2faust/vega/libraries/include/volumetricMeshDeformationGradient.h
utilities/mesh2faust/vega/libraries/include/volumetricMeshENuMaterial.h
utilities/mesh2faust/vega/libraries/include/volumetricMeshExtensions.h
utilities/mesh2faust/vega/libraries/include/volumetricMeshLoader.h
utilities/mesh2faust/vega/libraries/include/volumetricMeshMooneyRivlinMaterial.h
utilities/mesh2faust/vega/libraries/include/volumetricMeshOrthotropicMaterial.h
utilities/mesh2faust/vega/libraries/include/volumetricMeshParser.h
utilities/mesh2faust/vega/libraries/include/windingNumber.h
